.sidebar{
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    width: 220px;
    padding-left: 18px;
    padding-top: 9px;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr;
    overflow-y: auto;
    scrollbar-width: 5px;

}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
    height: 40%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.sidebar-elements{
    height: 41px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 300;
}

.sidebar-elements:hover{
    background-color: rgb(208, 208, 208);
}

.sidebar-elements img{
    height: 24px;
}

.icon-description{
    padding-left: 25px;

}
.line-seperation{
    width: 185px;
    opacity: .5;
}
.user-history{
    font-weight: 500;
    font-size: 16px;
    padding-top: 7px;
}
.sidebar-sub-head{
    font-weight: 500;
    font-size: 16px;
    padding-top: 7px;
}
.sidebar-sub-head:hover{
    cursor:text ;
}
.youtube-terms{
    font-family: Roboto,Arial;
    font-size: 13px;
    font-weight: 500;
    color: rgb(121, 121, 121);
    line-height: 20px;
}